$site-padding: 0px;

header.site-header {

  .menu-btn {
  	margin: 15px 0;
  	padding: 10px 16px;
  	@media (min-width: $screen-sm-min) {
  		display: none;
  	}
  }

  .site-branding {

    margin: 0 0 10px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    height: 250px;

    .site-title {
      color: $gray-lighter;
      margin: 0;
      padding: 0;
      font-family: $font-family-display;
      font-size: 40px;
      font-weight: 400;
      margin-top: 16px;
      padding: 0;
      letter-spacing: 0.02em;
      line-height: 1.2em;
      text-align: center;
      text-shadow: $brand-secondary 3px 3px 1px;


      @media (min-width: 768px) {
        font-size: 62px;
      }

      a {
        color: $gray-lighter;
        text-decoration: none;
        text-shadow: $brand-secondary 3px 3px 1px;

        &:hover { color: $gray-light; }
        // &:visited { color: $gray-lighter; }

      }

    }

    .site-description {
      margin: 0;
      font-family: $font-family-sans-serif;
      font-size: 14px;
      font-weight: normal;
      padding-left: 80px;
      margin-top: -15px;
      letter-spacing: 0px;
    }

  }

}

.social-icons {

  text-align: center;
  z-index: 9999;
  padding-top: 62px;

  @media (min-width: 768px) {
    padding-top: 100px;
  }

  a {
    margin-right: 5px;
    text-decoration: none;
    color: $gray-lighter;
    text-decoration: none;
    text-shadow: $brand-secondary 3px 3px 2px;

    &:hover { color: $gray-light; }
    // &:visited { color: $link-visited-color; }

  }
}

div#page {

  background-color: #FFF;
  padding: 0;

  #content {

    width: 97%;
    padding: 0 0 0 3%; // 3%;

  }

}

footer.site-footer {

  background-color: #CCC;
  padding: 0 $site-padding;

  .site-info {
    clear: both;
    padding: 40px;
    text-align: center;
  }

  & > div.container {
    margin: 0 auto;
  }
}

.entry-footer span {
   margin-right: 1em;
}

@import "layout/content-sidebar";






@media (min-width: 320px) {

}

@media (min-width: 321px) {

}

aside .widget ul {
  list-style: none;
}

aside .widget ul li {
  line-height: 1.4rem;
  padding-bottom: 8px;
}

ul#scriptLinks {
  list-style: none;
  line-height: 2em;
}

// MailChimp Sign-up form in the Sidebar

// aside#secondary section:first-child {
//
//   padding: 10px 20px 20px;
//   border: 1px solid #000;
//   background-color: #EFEFEF;
//   max-width: 360px;
//
//   h2 {
//     color: $brand-primary;
//     margin-top: 0;
//     text-align: center;
//   }
//
//   .mc4wp-success {
//     color: $brand-success;
//     font-weight: 700;
//   } /* success message */
//
//   .mc4wp-error {
//     color: $brand-danger;
//       font-weight: 700;
//   } /* error messages */
//
//   .mc4wp-notice {
//     color: $brand-warning;
//   } /* notice messages */
//
//   div.field-group {
//
//     label {
//       display: block;
//     }
//
//     input {
//
//       &[type=email] {
//         margin-bottom: 10px;
//       }
//
//       &[type=submit] {
//         margin-top: 10px !important;
//       }
//
//     }
//   }
// }

// Validation

.error {
  color: $brand-danger;
  font-size: 80%;
}

// Content View

.pt-cv-view .pt-cv-title {
    margin-bottom: 14px;
    font-size: 21px;
}

.pt-cv-content {
  color: $text-color;
}

.pt-cv-wrapper .btn-success {
  margin-top: 20px;
}
